name: "[STAGING] CI & CD KLTN FE Admin"

env:
  # frontend deployment folder on the server
  DEPLOY_FOLDER: /home/gha-runner/kltn/frontend/kltn-fe-admin/source

  # Image name for the Docker container
  IMAGE_NAME: kltn-fe-admin:${{ github.ref_name }}-${{ github.sha }}

  # Container name for the service
  CONTAINER_NAME: kltn-fe-admin

  # The filename for the Docker image artifact
  IMAGE_FILENAME: kltn-fe-admin.tar

  # Docker Compose file path
  DOCKER_COMPOSE_PATH: ./docker-compose.yml

  PROJECT_NAME: "KLTN Frontend Admin"

on:
  push:
    branches:
      - release

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build \
            --build-arg VITE_GOOGLE_MAPS_API_KEY=${{ secrets.VITE_GOOGLE_MAPS_API_KEY }} \
            --build-arg VITE_MAPTILES_KEY=${{ secrets.VITE_MAPTILES_KEY }} \
            --build-arg VITE_GOONG_API_KEY=${{ secrets.VITE_GOONG_API_KEY }} \
            -t ${{ env.IMAGE_NAME }} .

      - name: Save Docker image to a tar file
        run: docker save -o ${{ env.IMAGE_FILENAME }} ${{ env.IMAGE_NAME }}

      - name: Make image file readable
        run: chmod 644 ${{ env.IMAGE_FILENAME }}

      - name: Copy Docker image to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          source: "${{ env.IMAGE_FILENAME }}"
          target: "/tmp" # Copy to a temporary directory on the server

      - name: Clean old docker compose script and old env file
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            rm -rf ${{ env.DEPLOY_FOLDER }}/*

      - name: Copy new docker compose script to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          source: "./docker-compose.yml"
          target: ${{ env.DEPLOY_FOLDER }}

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_publish

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd ${{ env.DEPLOY_FOLDER }}
            echo "Loading new image from tar file..."
            docker load -i /tmp/${{ env.IMAGE_FILENAME }}
            if [ "$(docker ps -aq -f name=^${{ env.CONTAINER_NAME }}$)" ]; then
                docker compose -f ${{ env.DOCKER_COMPOSE_PATH }} down ${{ env.CONTAINER_NAME }}
            fi
            echo "Waiting for new container: ${{ env.CONTAINER_NAME }} to pull..."
            IMAGE_VERSION=${{ github.ref_name }}-${{ github.sha }} docker compose -f ${{ env.DOCKER_COMPOSE_PATH }} pull ${{ env.CONTAINER_NAME }}
            echo "Start new container: ${{ env.CONTAINER_NAME }}..."
            IMAGE_VERSION=${{ github.ref_name }}-${{ github.sha }} docker compose -f ${{ env.DOCKER_COMPOSE_PATH }} up -d ${{ env.CONTAINER_NAME }}
